
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load app_tags %}
{% block content %}
<div class="">
<div class="w-full h-[70vh] relative carusel-css">
<div class="ant-carousel css-cdzvx5">
<div class="slick-slider slick-initialized" dir="ltr">
<div class="slick-list">
<div class="slick-track" style="width: 1530px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
<div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 1530px;">
<div>
<div class="relative h-full w-full" tabindex="-1" style="width: 100%; display: inline-block;">
<video src="{% static 'video/hero-EmjvqPSj.mp4' %}" autoplay="" loop="" playsinline="" class="w-full h-[50vh] md:!h-[70vh]  object-cover">
</video>
<div class="absolute inset-0 flex flex-col justify-center items-start text-white px-4 bg-black/50">
<div class="flex flex-col justify-center items-start fullContainer">
<div class="text-2xl sm:text-3xl md:text-7xl font-bold mb-4">{% trans "Ilmiy-texnik axborot markazi" %}</div>
<div class="text-sm sm:text-base md:text-2xl max-w-2xl text-start">{% trans "Bilim, fan va texnologiyaga tayanmagan millatning kelajagi bo‘lmaydi – bizning yo‘limiz faqat ilm va innovatsiya bilan rivojlanishdir." %}</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<ul class="slick-dots slick-dots-bottom" style="display: block;">
<li class="slick-active">
<button>1</button>
</li>
</ul>
</div>
</div>
<div class="absolute z-30   top-[30%] md:right-[160px] space-y-2 ">
</div>
</div>
<div class="container mx-auto p-2  lg:!mt-10 max-w-7xl">
<div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
<div class="lg:col-span-6">
<div class="relative">
<div id="allNews" class="inline-block bg-blue-900 cursor-pointer text-white font-bold py-3 px-6 rounded-tl-2xl rounded-br-2xl">{% trans "Yangiliklar" %}</div>
</div>
<div class="flex items-start gap-4 mt-4">
<div class="text-center min-w-24 border border-gray-200 py-4">
<div class="text-3xl font-bold">{{ content.0.time_creation|date:"d" }}</div>
<div class="text-gray-500">{{ content.0.time_creation|date:"Y.m" }}.</div>
</div>
<div>
<h2 class="text-lg font-semibold underline cursor-pointer line-clamp-2">{{ content.0.title|truncatechars:75 }}</h2>
<p class="text-gray-600 mt-2">
</p>
</div>
</div>
<!--  -->
<div class="mt-8 flex flex-col space-y-4">
    {% for new in content %}
<a class="flex hover:text-blue-500 gap-1 hover:underline justify-between items-center cursor-pointer" href="{% url 'new' new.pk %}">
<div class="flex items-center">
<span class="text-gray-500 mr-2">•</span>
<span class="font-medium">{{ new.title|truncatechars:50 }}</span>
</div>
<span class="text-gray-500">{{ new.time_creation|date:"d.m.Y" }}</span>
</a>
{% endfor %}
<!-- <div class="flex hover:text-blue-500 gap-1 hover:underline justify-between items-center cursor-pointer">
<div class="flex items-center">
<span class="text-gray-500 mr-2">•</span>
<span class="font-medium">The Ohio State Universityda ilmiy hamkorlik va axb...</span>
</div>
<span class="text-gray-500">2026-05-07</span>
</div>
<div class="flex hover:text-blue-500 gap-1 hover:underline justify-between items-center cursor-pointer">
<div class="flex items-center">
<span class="text-gray-500 mr-2">•</span>
<span class="font-medium">Xalqaro aloqalar kengaymoqda. AQShning Chicago Cou...</span>
</div>
<span class="text-gray-500">2026-05-05</span>
</div>
<div class="flex hover:text-blue-500 gap-1 hover:underline justify-between items-center cursor-pointer">
<div class="flex items-center">
<span class="text-gray-500 mr-2">•</span>
<span class="font-medium">Xalqaro hamkorlik AQShdagi yetakchi universitetlar...</span>
</div>
<span class="text-gray-500">2026-05-04</span>
</div>
<div class="flex hover:text-blue-500 gap-1 hover:underline justify-between items-center cursor-pointer">
<div class="flex items-center">
<span class="text-gray-500 mr-2">•</span>
<span class="font-medium">Jahon ekspertlari bir maydonda: Boston konferensiy...</span>
</div>
<span class="text-gray-500">2026-04-28</span>
</div>
<div class="flex hover:text-blue-500 gap-1 hover:underline justify-between items-center cursor-pointer">
<div class="flex items-center">
<span class="text-gray-500 mr-2">•</span>
<span class="font-medium">Xalqaro hamkorlik Boston Public Libraryda uchrashu...</span>
</div>
<span class="text-gray-500">2026-04-25</span>
</div>
<div class="flex hover:text-blue-500 gap-1 hover:underline justify-between items-center cursor-pointer">
<div class="flex items-center">
<span class="text-gray-500 mr-2">•</span>
<span class="font-medium">Xalqaro hamkorlik MIT bilan muloqot o‘tkazildi, in...</span>
</div>
<span class="text-gray-500">2026-04-22</span>
</div> -->
</div>
<!--  -->
</div>
<div class="lg:col-span-6 border border-gray-200 p-4">
<div class="mb-4">
<h2 class="text-xl font-bold">{{ content.0.title|truncatechars:50 }}</h2>
<div class="mt-4">
<button id="btn" type="button" class="ant-btn css-cdzvx5 ant-btn-default ant-btn-color-default ant-btn-variant-outlined text-sm">
<span>{% trans "Barchasini ko'rish" %}</span>
</button>

<script>
const btn = document.getElementById("btn");

btn.addEventListener("click", () => {
    window.location.href = "{% if content %}{% url 'new' content.0.pk %}{% else %}{% url 'home' %}{% endif %}";
});
</script>
</div>
</div>
<div class="ant-carousel css-cdzvx5">
<div class="slick-slider relative mt-4 slick-initialized" dir="ltr">
<div class="slick-list">
<div class="slick-track" style="width: 5958px; opacity: 1; transform: translated(-2648px, 0px, 0px);">

<div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 500px;">
<div>
<div class="relative h-screen/10 w-full" tabindex="-1" style="width: 100%; display: inline-block;">
<img id="newspic" src="{{ content.0.photos.all.0.photo.url }}" alt="{{ content.0.title }}" class="w-full !h-66 object-cover">
<div class="absolute bottom-0 right-0 flex gap-2 mb-2 mr-2">
<button id="p" type="button" class="ant-btn css-cdzvx5 ant-btn-primary ant-btn-color-primary ant-btn-variant-solid bg-blue-900 hover:bg-blue-800 rounded-none">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left h-4 w-4" aria-hidden="false">
<path d="m15 18-6-6 6-6">
</path>
</svg>
</button>
<button  id="n"  type="button" class="ant-btn css-cdzvx5 ant-btn-primary ant-btn-color-primary ant-btn-variant-solid bg-blue-900 hover:bg-blue-800 rounded-none">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right h-4 w-4" aria-hidden="false">
<path d="m9 18 6-6-6-6">
</path>
</svg>
</button>
<button type="button" class="ant-btn css-cdzvx5 ant-btn-primary ant-btn-color-primary ant-btn-variant-solid bg-blue-900 hover:bg-blue-800 rounded-none">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pause h-4 w-4" aria-hidden="false">
<rect x="14" y="4" width="4" height="16" rx="1">
</rect>
<rect x="6" y="4" width="4" height="16" rx="1">
</rect>
</svg>
</button>
</div>
</div>
</div>
</div>

{% change_photo photo=content.0.photos.all %}


</div>
</div>
</div>
</div>
</div>
</div>
</div>
<section class="relative py-10 px-4 max-w-[1540px] bg-cover bg-no-repeat bg-center mx-auto !w-full overflow-x-hidden">
<div class="!w-full !h-full max-h-[400px] absolute" style="background-image: url(&quot;{% static 'images/brochures_background.png' %}&quot;);">
</div>
<div  class="container mx-auto p-4 !max-w-7xl relative z-10 !mt-10">
<h2 id="one_page" class="inline-block bg-blue-900 cursor-pointer text-white font-bold py-3 px-6 !mb-3 rounded-tl-2xl rounded-br-2xl">One Pager</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <!--  -->
    {% for el in one_page %}
<div class="bg-blue-100 w-full p-4 rounded shadow flex flex-col justify-between hover:shadow-lg transition cursor-pointer">
<div class="mt-4 !w-full   overflow-hidden ">
<div class="ant-image css-cdzvx5">
<img class="ant-image-img !h-[370px] object-center object-cover rounded bg-black css-cdzvx5" src="{{el.photo.url }}">

<!--  -->
<div class="ant-image-mask">
<div class="ant-image-mask-info">
<span role="img" aria-label="eye" class="anticon anticon-eye">
<svg viewBox="64 64 896 896" focusable="false" data-icon="eye" width="1em" height="1em" fill="currentColor" aria-hidden="true">
<path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z">
</path>
</svg>
</span>Preview</div>
</div>
<!--  -->
</div>
</div>
</div>
{% endfor %}
<!--  -->
<!-- <div class="bg-blue-100 w-full p-4 rounded shadow flex flex-col justify-between hover:shadow-lg transition cursor-pointer">
<div class="mt-4 !w-full   overflow-hidden ">
<div class="ant-image css-cdzvx5">
<img class="ant-image-img !h-[370px] object-center object-cover rounded bg-black css-cdzvx5" src="./CSTI_files/photo_2026-04-06_10-32-40.jpg">
<div class="ant-image-mask">
<div class="ant-image-mask-info">
<span role="img" aria-label="eye" class="anticon anticon-eye">
<svg viewBox="64 64 896 896" focusable="false" data-icon="eye" width="1em" height="1em" fill="currentColor" aria-hidden="true">
<path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z">
</path>
</svg>
</span>Preview</div>
</div>
</div>
</div>
</div>
<div class="bg-blue-100 w-full p-4 rounded shadow flex flex-col justify-between hover:shadow-lg transition cursor-pointer">
<div class="mt-4 !w-full   overflow-hidden ">
<div class="ant-image css-cdzvx5">
<img class="ant-image-img !h-[370px] object-center object-cover rounded bg-black css-cdzvx5" src="./CSTI_files/photo_2026-04-06_10-32-31.jpg">
<div class="ant-image-mask">
<div class="ant-image-mask-info">
<span role="img" aria-label="eye" class="anticon anticon-eye">
<svg viewBox="64 64 896 896" focusable="false" data-icon="eye" width="1em" height="1em" fill="currentColor" aria-hidden="true">
<path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z">
</path>
</svg>
</span>Preview</div>
</div>
</div>
</div>
</div>
<div class="bg-blue-100 w-full p-4 rounded shadow flex flex-col justify-between hover:shadow-lg transition cursor-pointer">
<div class="mt-4 !w-full   overflow-hidden ">
<div class="ant-image css-cdzvx5">
<img class="ant-image-img !h-[370px] object-center object-cover rounded bg-black css-cdzvx5" src="./CSTI_files/photo_2026-04-06_10-32-28.jpg">
<div class="ant-image-mask">
<div class="ant-image-mask-info">
<span role="img" aria-label="eye" class="anticon anticon-eye">
<svg viewBox="64 64 896 896" focusable="false" data-icon="eye" width="1em" height="1em" fill="currentColor" aria-hidden="true">
<path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z">
</path>
</svg>
</span>Preview</div>
</div>
</div>
</div>
</div> -->
</div>
</div>
</section>
</div>
{% endblock %}